
.btn-info {
    color: white;
    background-color: #2bc6c4 !important;
    border-color: #2bc6c4 !important;
}

.bg-color {
    background-color: #4ab9b3 !important;
}

.bg-color2 {
    background-color: #389a95 !important;
}

.page-item.active .page-link {
    background-color: #4ab9b3;
    border-color: #4ab9b3;
}

.nav-pills .nav-link.active {
    background-color: #4ab9b3;
}

.accordion-button {
    background-color: #f7f7f7;
}

.w100 {
    width: 100%;
}

table.datosHistoriaClinica > tbody > tr > th, table.datosHistoriaClinica > tbody > tr > td {
    padding: 2px 12px;
}

.sectionHistoriaClinica hr {
    border-top: 2px solid grey;
}

@media only screen and (max-width : 768px) {
	.animate__animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}