{% extends 'base/base.html' %}

{% block title %}Mis Pacientes{% endblock %}

{% block contenido %}
    <h4 class="mb-4">Hola, {{request.user.first_name}}</h4>

    <div class="card shadow">
        <div class="card-body">
            <h4 class="card-title text-center">
                Listado de pacientes
                <button type="button" class="btn btn-info text-end m-1" data-bs-toggle="modal" data-bs-target="#modalAddPaciente">
                    <i class="bi bi-person-plus"></i> Agregar paciente
                </button>
            </h4>
            <hr>
            {% if pacientes %}
                <table class="table table-responsive-sm" id="myTable">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Nombre</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in pacientes %}
                            <tr>
                                <td>{{p.tipoDocumento}} {{p.numeroDocumento}}</td>
                                <td>{{p.nombres}} {{p.apellidos}}</td>
                                <td>
                                    <a href="{% url 'main:PacienteUpdate' p.id %}" class="btn btn-sm btn-outline-success"><i class="bi bi-pencil"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="text-center">
                    <p>No hay pacientes para mostrar</p>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="modalAddPaciente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalAddPacienteLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAddPacienteLabel">Agregar paciente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="{% url 'main:PacienteCreate' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="nombres" class="form-label">Nombres</label>
                            <input type="text" class="form-control" id="nombres" name="nombres" required>
                        </div>
                        <div class="mb-3">
                            <label for="apellidos" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" id="apellidos" name="apellidos" required>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="tipoDocumento" class="form-label">Tipo de documento &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <select class="form-select" id="tipoDocumento" name="tipoDocumento" required>
                                    {% for e in selectTipoDocumento %}
                                        <option value="{{e.nombre}}">{{e.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col mb-3">
                                <label for="numeroDocumento" class="form-label">Número de documento</label>
                                <input type="number" class="form-control" id="numeroDocumento" name="numeroDocumento" autocomplete="off" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-info">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include 'alertToast.html' %}

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#myTable').DataTable();
            $('#toastRespuesta').toast('show');
        });
    </script>
{% endblock %}