{% extends 'base/base.html' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block contenido %}
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title text-center">Cambiar contraseña</h5>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-info"><i class="bi bi-check-circle"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>

    {% include 'alertToast.html' %}

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#toastRespuesta').toast('show');
        });
    </script>
{% endblock %}